@font-face {
    font-family: "Lilex NerdFont Regular";
    src: url("fonts/LilexNerdFont-Regular.ttf");
    font-display: swap;
}

html, body {
    background-color: black;
    margin: 0;
}

* {
    color: white;
    font-family: "Lilex NerdFont Regular", serif;
}

a {
    text-decoration: none;
}

.content {
    margin: 0;
    width: 100%;
    text-align: center;
}